<section class="card">
  <!-- This card links to the content page using the Content ID-->
  <a href="/content/{{id}}">
    <!-- Pulls the project title and posts it on the page. -->
     <h4 class="project-random"><a href="/project/{{project.id}}">{{project.title}}</a></h4>
  </a>
</section>