<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Picker Home</title>
<link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header class="Main project-heading">
    <h1>
      Project Picker
    </h1>
    <h3> Determine your next project with ease using our project picking technology!</h3>
    <nav class="menu">
      <ul>
        <li><a href= "#">User Profile</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href= "#">Library</a></li>
        <li><a href= "#">Forums</a></li>
      </ul>
      <button class="btn" id="logout">logout</button>
    </nav>
      
  </header>

  <main class="main page-body">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
