<div>
    <div>
        <h2>Projects Homepage</h2>
    </div>
</div>

<!-- form to create new project  --> 

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

        <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Project Name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      {{!-- <div class="form-group">
        <label for="user-name">User Name</label>:</label>
        <input class="form-input" type="text" id="user-name" name="user-name" />
      </div> --}}
      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Project</button>
      </div>
    </form>
  </div>
  
{{#each projects as |project|}}
<div class="card">
    <div>
      
      <h3><a href="/projects/{{id}}">{{project.title}}</a></h3>
    </div>
    <div>
       <p>{{project.content}}</p>
       <p>{{user.username}}</p>
    </div>
</div> 
{{/each}} 




<script src="/js/project.js"></script>

