body {
    background: url("https://image.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg");
    background-size: cover;
    font-family: Oswald, sans-serif;
}

h1 {
    font-family: Oswald, sans-serif;
    font-size: 50px;
    padding-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    color:  #5c348c;
}

h3 {
    margin-top: 0;
    font-size: 12px;
    padding-left: 50px;
    color: dodgerblue;
}

.login-page {
    font-family: Oswald, sans-serif;
}

.login, .signup {
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    background: url("https://image.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg");
    margin-top: 20px;
}

.login-form,  .signup-form {
    margin: auto;
    width:60%;
    padding-top: 25px;
}

.login-header, .signup-header {
    margin: auto;
    padding-top: 25px;
}

.login-page {
    margin: auto;
    width: 50%;
    padding-top: 15px;

}

.login-btn, .signup-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
}

ul {
    list-style-type: none;
    margin: 0 10px 0 0;
}

li {
    display: inline;
}

a {
    padding: 8px;
    text-decoration: none;
}

nav .btn {
    position: absolute;
    right: 50px;
    top: 30px;
}

.menu {
    display: inline;
}

.project-heading {
    text-decoration: none;
}

.form-group {
    margin: auto;
    justify-content: flex-end;
}

.card {
  border: 1px solid dodgerblue;
  border-radius: 15px;
  width: 25%;
  margin: auto;
  text-align: center;
}

.glow-on-hover {
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.login-page {
    position: absolute;
    top: 35%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
    font-size: 16px;
    padding: 8px 12px;
    text-decoration: none;
}

h2 {
    text-align: center;
}

.menu a {
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    cursor: pointer;
    letter-spacing: 0.07em;
  }
  .menu a .text {
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  .menu a:after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: dodgerblue;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
  }
  .menu .line {
    position: absolute;
    background: dodgerblue;
  }
  .menu .line.-right, .menu .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
  }
  .menu .line.-top, .menu .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
  }
  .menu .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
  }
  .menu .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
  }
  .menu .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
  }
  .menu .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
  }
  .menu a:hover .text,
  .menu a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  .menu a:hover:after,
  .menu a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  }
  .menu a:hover .line,
  .menu a:active .line {
    transform: scale3d(1, 1, 1);
  }
  .menu a:hover .line.-right,
  .menu a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
  }
  .menu a:hover .line.-top,
  .menu a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
  }
  .menu a:hover .line.-left,
  .menu a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
  }
  .menu a:hover .line.-bottom,
  .menu a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
  }
